<header>
  <img src="assets/img/banner_image.png" id="banner-img">
  <div class="header-div">
    <app-navbar></app-navbar>
    <div class="d-flex">
      <div class="main-header-content slide-in-left">
        <p class="fw-bold">Plan your trip now</p>
        <h1 class="fw-bold">Save <span class="fw-bold">big</span> with our car rental</h1>
        <p class="fs-6 desc">To contribute to positive change and achieve our sustainability goals with many extraordinary</p>
      </div>
      <div class="car-img my-auto mt-5 slide-in-right">
        <img src="assets/img/brabus-800-black-gold-edition.png" alt="Brabus 800 Black and gold edition" id="header-car">
      </div>
    </div>
  </div>
</header>
