.admin-page{

  background-color: var(--white);
  min-height: 100vh;

  table{

    .table-img{
      height: 100px;
    }

    #delete-row{
      cursor: pointer;
    }

  }

}

::ng-deep ngb-pagination .page-link {
  color: var(--red);

  &:hover{
    color: var(--red);
  }
}

::ng-deep ngb-pagination .page-item.active .page-link {
  background-color: var(--red);
  border-color: darkred;
  &:hover{
    color: white;
  }
}
