nav{

  img[alt="menu"]{
    max-width: 30px;
  }

  a{
    font-size: 1.2em;
    color: var(--red);
    font-weight: bold;
  }

  button.btn.offset{
    font-size: .9em;
    font-weight: 500;
  }

  // Multiple shadows, one on the outside, another on the inside
.offset {
  box-shadow:
    0.3em 0.3em 0 0 var(--black),
    inset 0.3em 0.3em 0 0 var(--red);

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 0 var(--black),
      inset 6em 3.5em 0 0 var(--black);
    color: var(--white);
  }
}

.btn-logout{
  margin-left: 1em;
  border-color: var(--red);
  color: var(--black);

  &:hover{
    border-color: transparent;
    background-color: var(--red);
    color: var(--white);
  }
}

}
