<section class="how-to container">
  <div class="text-center mb-5">
    <h3>Plan your trip now</h3>
    <h4 class="fs-1 fw-bold"><span>Quick & easy</span> car rental</h4>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-md-center align-items-md-center">
    <div class="step d-flex flex-column justify-content-center align-items-center mb-5 mb-md-0">
      <img src="../../../assets/img/select-car.png" alt="select-car" class="img-fluid">
      <div class="text-center">
        <h3 class="text-capitalize">select car</h3>
        <p>
          Discover Your Ideal Ride: Select the Perfect Car for You.
        </p>
      </div>
    </div>
    <div class="step d-flex flex-column justify-content-center align-items-center mb-5 mb-md-0">
      <img src="../../../assets/img/contact-operator.png" alt="contact-operator" class="img-fluid">
      <div class="text-center">
        <h3 class="text-capitalize">contact operator</h3>
        <p>
          Need Assistance? Contact Our Operator for Personalized Support.
        </p>
      </div>
    </div>
    <div class="step d-flex flex-column justify-content-center align-items-center mb-5 mb-md-0">
      <img src="../../../assets/img/drive.png" alt="drive" class="img-fluid">
      <div class="text-center">
        <h3 class="text-capitalize">let's drive</h3>
        <p>
          Ready to Hit the Road? Let's Drive Your Dream Car.
        </p>
      </div>
    </div>
  </div>
</section>
