<section class="my-5" id="about">
  <div class="container about-section">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/about-img.jpg" alt="Our Team" class="img-fluid shadow-lg rounded-3">
      </div>
      <div class="col-lg-6 about-text">
        <h2 class="about-heading mb-5 fs-1 text-center">Who We Are</h2>
        <p class="fs-6">FlexDrive is a private car rental service dedicated to providing convenient and reliable mobility solutions.
          Founded with a strong commitment to high-quality customer service, the company has established itself as a
          trusted choice for those seeking quality vehicles and an unforgettable rental experience. Their mission is
          clear: to offer a fleet of modern and secure vehicles to enable customers to travel with peace of mind,
          whether it's a road trip, a weekend getaway, or everyday commuting.</p>
        <p class="fs-6">In summary, FlexDrive is committed to providing a personalized service to meet the unique needs of each
          customer, ensuring a fleet of modern, well-maintained, and secure vehicles that allow you to travel with peace
          of mind wherever you wish to go.</p>
      </div>
    </div>
  </div>
</section>
