<section class="my-5" id="about">
  <div class="container about-section">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/about-img.jpg" alt="Our Team" class="img-fluid">
      </div>
      <div class="col-lg-6 about-text">
        <h2 class="about-heading">Who We Are</h2>
        <p>FlexDrive is a private car rental service dedicated to providing convenient and reliable mobility solutions.
          Founded with a strong commitment to high-quality customer service, the company has established itself as a
          trusted choice for those seeking quality vehicles and an unforgettable rental experience. Their mission is
          clear: to offer a fleet of modern and secure vehicles to enable customers to travel with peace of mind,
          whether it's a road trip, a weekend getaway, or everyday commuting. The range of vehicles includes compact
          cars, spacious SUVs, elegant sedans, and luxury cars, all subjected to rigorous maintenance procedures to
          ensure safety and reliability, with eco-friendly options also available.</p>
        <p>In summary, FlexDrive is committed to providing a personalized service to meet the unique needs of each
          customer, ensuring a fleet of modern, well-maintained, and secure vehicles that allow you to travel with peace
          of mind wherever you wish to go.</p>
      </div>
    </div>
  </div>
</section>
