/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root{
  --white: #efeff1;
  --black: #293438;
  --red: #bd3437;
}

body{
  background-color: var(--white);
}
