<section>
  <div class="container mb-5">
    <p class="text-center fs-4 fw-medium mb-1 red">FAQ</p>
    <h3 class="text-center fs-1 fw-bold black">Frequently Asked Questions</h3>

    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton class="text-uppercase">What is long-term rental</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            Imagine you are a young professional who is moving to a new city. You need a car to get around, but you don't want to spend a fortune on it. With FlexDrive long-term rental, you can have a new car in excellent condition for as long as you need it. Without having to worry about unexpected events, maintenance or devaluation of the car. <br>
            FlexDrive is the ideal solution for those looking for a worry-free long-term rental car. Discover our services now and choose the car that's right for you!
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton class="text-uppercase">What documents are needed for long-term rental?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            In order to rent a car long-term, you must present:
            <ul>
              <li>Valid identity document</li>
              <li>Social Security Number</li>
              <li>Latest Single Certification or model 730</li>
              <li>Last two or three pay slips</li>
              <li>Privacy module</li>
            </ul>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton class="text-uppercase">Can I see a FAC-SIMILE of a contract?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            Yes, by filling out the form you will be contacted by a consultant dedicated to you who will provide you with the documents you need.
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
