<section>
  <div class="container mb-5">
    <p class="text-center fs-4 fw-medium mb-1 red">FAQ</p>
    <h3 class="text-center fs-1 fw-bold black">Frequently Asked Questions</h3>

    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton class="text-uppercase">Cos'è il noleggio a lungo termine</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            Immagina di essere un giovane professionista che si sta trasferendo in una nuova città. Hai bisogno di un'auto per spostarti, ma non vuoi spendere una fortuna per comprarla. Con il noleggio a lungo termine di FlexDrive, puoi avere un'auto nuova e in ottime condizioni per tutto il tempo che ti serve. Senza doverti preoccupare di imprevisti, manutenzione o svalutazione dell'auto. <br>
            FlexDrive è la soluzione ideale per chi cerca un'auto a noleggio a lungo termine senza pensieri. Scopri subito i nostri servizi e scegli l'auto che fa per te!
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton class="text-uppercase">Quali documenti servono per il noleggio a lungo termine?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            Per poter noleggiare un'auto a lungo termine, è necessario presentare:
            <ul>
              <li>Documento di identità in corso di validità</li>
              <li>Codice fiscale</li>
              <li>Ultima Certificazione Unica o modello 730</li>
              <li>Ultime due o tre buste paga</li>
              <li>Modulo Privacy</li>
            </ul>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton class="text-uppercase">Posso visionare un FAC-SIMILE di un contratto?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            Si, compilando il form verrai contattato da un consulente a te dedicato che ti fornirà i documenti di cui hai bisogno.
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
