section{
  margin-bottom: 500px;

  div.container{

    top: -5em;
    border-radius: 10px;

    form{
      padding: 2em;

      h4{
        span{
          color: var(--red);
        }
      }

    }

  }

}
