<section>
  <div class="container bg-light shadow-lg position-relative">
    <form #homePageForm="ngForm" (ngSubmit)="onSubmit()">
      <h4 class="fw-bold fs-3"><span>Book a</span> call with one of our <span>consultants</span></h4>
      <div class="mb-3 d-flex flex-column flex-md-row">
        <div class="form-group flex-grow-1 me-2">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="nome" id="name" placeholder="Enter name" required ngModel>
        </div>
        <div class="form-group flex-grow-1 ms-2">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" name="surname" id="surname" placeholder="Enter surname" required ngModel>
        </div>
      </div>
      <div class="mb-3 d-flex">
        <div class="form-group flex-grow-1 me-2">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required ngModel>
        </div>
        <div class="form-group flex-grow-1 ms-2">
          <label for="phoneNumber">Phone number</label>
          <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Enter phone number" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="homeFormTextarea1">Describe what type of vehicle would you rent</label>
        <textarea class="form-control" name="myTextArea" id="homeFormTextarea1" rows="3" ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
</section>
