<div id="navbar-container" class="pb-3">
  <app-navbar></app-navbar>
</div>
<div class="container mt-5">
  <div class="row">
    <!-- RIMUOVERE IL D-NONE DALLA CLASSLIST -->
    <div class="col d-none d-lg-block" [classList]="['d-none']">
      <div class="position-sticky sticky-top">
        Side-Menu
      </div>
    </div>
    <div class="col">
    <!-- <div class="col-10"> -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
        <div class="col" *ngFor="let vehicle of vehiclesArray">
          <div class="card h-100 px-5 shadow-lg">
            <div class="my-3 text-center car-price">
              <p class="fs-1 fw-bold red mb-2">{{vehicle.price}}$</p>
              <p class="m-0 fw-light black">
                per month incl. VAT
                <span class="d-block fw-medium black">ZERO DOWN PAYMENT</span>
              </p>
            </div>
            <img src="{{vehicle.imgPath}}" class="card-img-top text-center"
              alt="Jeep Grand Cherokee">
            <div class="card-body">
              <h2 class="card-title text-center black mb-0">{{vehicle.brand.name}}</h2>
              <h3 class="card-title text-center black">{{vehicle.model}}</h3>
              <h5 class="grey text-center fw-light border border-danger border-start-0 border-top-0 border-end-0 pb-3">{{vehicle.trim}}</h5>
              <div class="row mt-3 mb-2">
                <div class="col">
                  <i class="bi bi-speedometer"></i> {{vehicle.mileage}} km
                </div>
                <div class="col">
                  <img src="assets/icons/engine.svg" alt="car-engine" height="20" class="position-relative" style="bottom: 2px; left: -5px;">
                  {{vehicle.engineType}}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <i class="bi bi-calendar3"></i> {{vehicle.rentDuration}} month
                </div>
                <div class="col">
                  <img src="assets/icons/transmission.svg" alt="car-transmission" height="18" class="position-relative" style="left: -5px;">
                  <span class="small text-uppercase">{{vehicle.transmission}}</span>
                </div>
              </div>
            </div>
            <div class="text-center mb-4">
              <button class="btn btn-outline-danger text-uppercase">discover offer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5" *ngIf="collectionSize != 0">
    <div class="col">
      <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [maxSize]="3"
          [rotate]="true"
          [pageSize]="pageSize"
          class="d-flex justify-content-center"
          [ellipses]="false"
          [boundaryLinks]="true"
          (pageChange)="pageChange($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
<div class="mt-5">
  <app-footer></app-footer>
</div>
