<div id="navbar-container" class="pb-3">
  <app-navbar></app-navbar>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col d-none d-lg-block">
      <div class="position-sticky sticky-top">
        Side-Menu
      </div>
    </div>
    <div class="col-10">
      <div class="row row-cols-1 row-cols-lg-3 g-4">
        <div class="col">
          <div class="card h-100 px-5">
            <div class="my-3 text-center car-price">
              <p class="fs-1 fw-bold red mb-1">256€</p>
              <p class="m-0 fw-light black">al mese iva inclusa <br>ANTICIPO ZERO</p>
            </div>
            <img src="../../../assets/img/vehicles/Jeep Grand Cherokee.png" class="card-img-top text-center"
              alt="Jeep Grand Cherokee">
            <div class="card-body">
              <h2 class="card-title text-center black">Jeep</h2>
              <h2 class="card-title text-center black">Grand Cherokee</h2>
              <h5 class="grey text-center fw-light border border-danger border-start-0 border-top-0 border-end-0 pb-3">
                2.2 Longitude</h5>
              <div class="row mt-3 mb-2">
                <div class="col">
                  <i class="bi bi-speedometer"></i> 60.000 km
                </div>
                <div class="col">
                  <img src="../../../assets/icons/engine.svg" alt="" height="20" class="position-relative" style="bottom: 2px">
                  HYBRID
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <i class="bi bi-calendar3"></i> 48 mesi
                </div>
                <div class="col">
                  <i class="bi bi-cloud"></i> 120 g/km
                </div>
              </div>
            </div>
            <div class="text-center mb-4">
              <button class="btn btn-outline-danger text-uppercase">scopri l'offerta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
